<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h2>All users</h2>
<br>
<div>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Lastname</th>
            <th>email</th>

        </tr>
        <tr th:each ="user : ${users}">
            <td th:utext="${user.getId()}" ></td>
            <td th:utext="${user.getName()}"></td>
            <td th:utext="${user.getLastName()}"></td>
            <td th:utext="${user.getEmail()}"></td>
            <td>
                <a th:href="@{/edit/{id}(id=${user.getId})}">Update</a>
                <a th:href="@{/deleteUsers(userId=${user.getId})}">Delete</a>
            </td>
        </tr>
    </table>
</div>

</body>
</html>